{% extends 'series/base.html' %}

{% block main %}
    <h1 id="id_header">Seris</h1>
    <h3 id="id_sub_header">a note a day</h3>
    <div>
        <form action="" method="POST">
            {% csrf_token %} {{ form.non_field_errors }} {{ form.source.errors }} {{ form.source }}
            <p>
                <span>
                    {{ form.title.errors }} {{ form.title }}
                </span>
            </p>
            <p>
                <span>
                    {{ form.content.errors }} {{ form.content }}
                </span>
            </p>
        </form>
    </div>
{% endblock %}